@backbackground: #233138;
@background: #000000;
@detail: #4C646B;
@foreground: #FFF7F5;
@alt1: #FF9F67;
@alt2: #A84B3A;

body {
    font-family: "Open Sans", sans-serif;
    background-color: @backbackground;
    color: @foreground;
    width:100%;
}

article {
    background-color: @background;
    width:90%;
    max-width:600px;
    min-height:400px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid @detail;
    border-radius:10px;
    p {
        padding:10px;
        font-size:1.5em;
        margin-left:20px;
    }
    h1 {
        padding:10px;
        font-size:2em;
        margin-left:20px;
    }
}

.fs_dataentry {
    input {
        width:100%;
        font-size:2em;
    }
    width:80%;
    max-width:320px;
    margin-left: auto;
    margin-right: auto;
}



