@backbackground: #233138;
@background: #000000;
@detail: #4C646B;
@foreground: #FFF7F5;
@alt1: #FF9F67;
@alt2: #662E23;

body {
    font-family: "Open Sans", sans-serif;
    background-color: @background;
    color: @foreground;
    width:100%;
}

article {
    background-color: @background;
    width:90%;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    p {
        padding:10px;
        font-size:1.5em;
        margin-left:20px;
    }
    .description {
        padding:10px;
        font-size:1.8em;
        margin-left:20px;
    }
    .choose {
        font-size:1.3em;
        margin-left: 20px;
    }
}


.fs_dataentry {
    input {
        width:100%;
        font-size:2em;
        border-radius:4px;
        background-color: @backbackground;
        color: @foreground;
        margin-bottom:10px;
    }
    input[type=submit] {
        background-color: @alt2;
    }
    width:80%;
    max-width:320px;
    margin-left: auto;
    margin-right: auto;
}

.track {
    
    width:90%;
    min-height:65px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    .artist {
        font-style:italic;
    }
    .title {
        font-weight:bold;
    }
    .display_score {
        text-align:right;
    }
    .track_image {
        width:64px;
        height:64px;
        overflow:hidden;
        border:1px solid @detail;
        float:left;
        margin-right:10px;
    }
    background-color: @alt2;
    border: 1px solid @detail;
    border-radius:10px;
    margin-top:5px;
    margin-bottom:5px;
    cursor:pointer;
}
.track:hover {
    background-color: lighten(@alt2,20%);
}

#winning_user {
    width:90%;
    min-height:65px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    div {
        font-size:1.3em;
    }
    .username {
        font-weight:bold;
    }
    .user_image {
        width:64px;
        height:64px;
        overflow:hidden;
        border:1px solid @detail;
        float:left;
        margin-right:10px;
    }
    background-color: @alt2;
    border: 1px solid @detail;
    border-radius:10px;
    margin-top:5px;
    margin-bottom:5px;
}

#login_spinner {
    width:90%;
    min-height:65px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
}

footer {
    width:90%;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;

    .userForLeaderboard {
        position: relative;
        width: 64px;
        height: 64px;
        float: left;
        margin-right: 10px;

        img {
            position:absolute;
            border-radius:10px;
        }
        .score {
            position:absolute;
            width: 64px;
            height: 64px;
            line-height: 64px;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            text-shadow: 0em 0em 0.1em @foreground;
            display: block;
            color: @background;
        }
    }
}
