body {
  font-family: "Open Sans", sans-serif;
  background-color: #000000;
  color: #fff7f5;
  width: 100%;
}
.app_title {
  width: 169px;
  height: 33px;
  background: url(logo.png) no-repeat center center;
  float: right;
  margin-top: 0px;
}
.app_title span {
  display: none;
}
#body_container {
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
article {
  padding-top: 10px;
}
article p {
  padding: 10px;
  font-size: 1.5em;
}
article .description {
  padding: 10px;
  font-size: 1.8em;
}
article .choose {
  font-size: 1.3em;
}
.fs_dataentry {
  width: 80%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.fs_dataentry input {
  width: 100%;
  font-size: 2em;
  border-radius: 4px;
  background-color: #233138;
  color: #fff7f5;
  margin-bottom: 10px;
}
.fs_dataentry input[type=submit] {
  background-color: #662e23;
}
.track {
  min-height: 65px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #662e23;
  border: 1px solid #4c646b;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.track .artist {
  font-style: italic;
}
.track .title {
  font-weight: bold;
}
.track .display_score {
  text-align: right;
}
.track .track_image {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border: 1px solid #4c646b;
  float: left;
  margin-right: 10px;
  border-radius: 10px;
}
.track:hover {
  background-color: #b2503d;
}
#winning_user {
  min-height: 65px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #662e23;
  border: 1px solid #4c646b;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#winning_user div {
  font-size: 1.3em;
}
#winning_user .username {
  font-weight: bold;
}
#winning_user .user_image {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border: 1px solid #4c646b;
  float: left;
  margin-right: 10px;
  border-radius: 10px;
}
#login_spinner {
  min-height: 65px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
footer {
  /*width:90%;*/

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
footer a.userForLeaderboard {
  position: relative;
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 10px;
  display: block;
  text-decoration: none;
}
footer a.userForLeaderboard img {
  position: absolute;
  border-radius: 10px;
}
footer a.userForLeaderboard .score {
  position: absolute;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0em 0em 0.1em #fff7f5;
  display: block;
  color: #000000;
}
.remaining_time {
  position: absolute;
  top: 20px;
  right: 5px;
  left: auto;
  display: block;
  font-size: 2em;
  color: #4c646b;
}
